@model ProjectMVC.Logica.Models.ViewModels.UserProjectsIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Users Project</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Projects", "Index", "Projects")
        </li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<div class="form-group">
    <div class="col-md-12">
        <h2>Users for project <label class="badge badge-primary">@ViewBag.Project.Title</label> </h2>
        <table class="table table-bordered">
            <tr>
                <td class="text-center"><i class="fas fa-users"></i></td>
                <td>@Html.DisplayNameFor(m => m.UsersProject.FirstOrDefault().UserName)</td>
                <td>@Html.DisplayNameFor(m => m.UsersProject.FirstOrDefault().Email)</td>
            </tr>
            @foreach (var item in Model.UsersProject)
            {
                <tr>
                    <td class="text-center">
                        @Html.ActionLink(" ", "AddUser", "UserProjects", new { projectId = ViewBag.Project.Id, userId = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-user-minus" })
                    </td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <h2>Users to add to project <label class="badge badge-primary">@ViewBag.Project.Title</label></h2>
        <table class="table table-bordered">
            <tr>
                <td class="text-center"><i class="fas fa-users"></i></td>
                <td>@Html.DisplayNameFor(m => m.UsersProject.FirstOrDefault().UserName)</td>
                <td>@Html.DisplayNameFor(m => m.UsersProject.FirstOrDefault().Email)</td>
            </tr>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td class="text-center">
                        @Html.ActionLink(" ", "RemoveUser", "UserProjects", new { projectId = ViewBag.Project.Id, userId = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-user-plus" })
                    </td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                </tr>
            }
        </table>
    </div>
</div>